.filter-container {
    width: 65%;
}
.filter-component {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    background-color: #fff;
    z-index: 1;
    background-clip: padding-box;
  }
  
  .filter-component::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #9f77f6, #408df9);
    border-radius: inherit;
    z-index: -1;
    padding: 3px;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude
}  
.filter-dropdown {
    width: 200px !important;
}
.filter-dropdown:hover {
  color: white !important;
}
.filter-task-select {
  width: 100%;
}
.filter-input {
    width: 200px;
    height: 40px;
}
.filter-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-input-container > div, .filter-input-container > input {
  margin: 15px;
  width: 200px;
}